			<div class="card-body">
				<div style="display: flex; align-items: center; justify-content: space-between">
  					<h2 class="title"><c>Evaluations</c></h2>
					<div class="btn-group">
  						<div class="btn px-1">
    						<a class="btn btn-sm btn-action align-self-end py-2 px-3" href="{# {{ path('app_support_review_add', {"id":user.id}) }} #}">
      							<i class="fa fa-plus-square-o" aria-hidden="true"></i>
    						</a>
  						</div>
						<div class="btn px-1">
    						<a class="btn btn-sm btn-action align-self-end py-2 px-3" href="{{ path('app_support_review_edit', {"id":user.id}) }}">
      							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    						</a>
  						</div>
					</div>
				</div>
				<table class="table card-text">
                	<thead>
                    	<tr>
                        	<th>Id</th>
                        	<th>Titre</th>
                        	<th>Note</th>
                   		</tr>
               	 	</thead>
                	<tbody>
                    	{% for key, review in user.reviews %}
                        	<tr>
                            	<td><c>n°{{ review.id }}</c></td>
                            	<td><c>{{ review.title }}</c></td>
                            	<td><c>{{ review.rating }}</c></td>
                        	</tr>
                    	{% else %}
                        	<tr>
                            	<td class="card-body" colspan="6">Aucune évaluation enregistrée</td>
                        	</tr>
                    	{% endfor %}
                	</tbody>
            	</table>
			</div>