{% extends 'base.html.twig' %}

{% block title %}Résultat de la recherche
{% endblock %}

{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb my-5">
			<li class="breadcrumb-item">
				<a class="card-body" href="{{ path("app_support_dashboard_default") }}"><b>Bureau d'accueil</b></a>
			</li>
			<li class="breadcrumb-item card-body-active active" aria-current="page">Résultat de la recherche</li>
		</ol>
	</nav>
<h1 class="title"><b>Résultats de la recherche</b></h1>

    <br><br>

<h2 class="card-text"><c>Résultats des utilisateurs</c></h2>
    {% if users is not empty %}
        <ul>
                <table class="table card-text">
                	<thead>
                    	<tr>
                        	<th>Id</th>
                        	<th>Nom</th>
                            <th>Prénom</th>
                        	<th>Email</th>
                            <th>Téléphone</th>
                   		</tr>
               	 	</thead>
                	<tbody>
                    	{% for user in users %}
                        	<tr>
                            	<td><c>n°{{ user.id }}</c></td>
                            	<td><c>{{ user.lastname }}</c></td>
                                <td><c>{{ user.firstname }}</c></td>
                                <td><c>{{ user.email }}</c></td>
                            	<td><c>{{ user.phone }}</c></td>
                                <td>
                                    <a href="{{ path('app_support_user_read', {"id":user.id}) }}" class="btn btn-sm btn-action align-self-end py-2 px-3">
                                        <i class="fa fa-eye" ></i>
                                    </a>
                                </td>
                        	</tr>
                    	{% else %}
                        	<tr>
                            	<td class="card-body" colspan="6">Aucun utilisateur trouvé.</td>
                        	</tr>
                    	{% endfor %}
                	</tbody>
            	</table>
        </ul>
    {% else %}
        <p class="card-text">Aucun utilisateur trouvé.</p>
    {% endif %}

    <br><br>

    <h2 class="card-text"><c>Résultats des garages</c></h2>
    {% if garages is not empty %}
        <ul>
                <table class="table card-text">
                	<thead>
                    	<tr>
                        	<th>Id</th>
                        	<th>Nom</th>
                        	<th>Adresse</th>
                   		</tr>
               	 	</thead>
                	<tbody>
                    	{% for garage in garages %}
                        	<tr>
                            	<td><c>n°{{ garage.id }}</c></td>
                            	<td><c>{{ garage.name }}</c></td>
                            	<td><c>{{ garage.address.number }} {{ garage.address.type }} {{ garage.address.name|capitalize }} {{ garage.address.postalCode }} {{ garage.address.town|capitalize }}</c></td>
                                <td>
                                    <a href="{{ path('app_support_garage_read', {"id":garage.id}) }}" class="btn btn-sm btn-action align-self-end py-2 px-3">
                                        <i class="fa fa-eye" ></i>
                                    </a>
                                </td>
                        	</tr>
                    	{% else %}
                        	<tr>
                            	<td class="card-body" colspan="6">Aucun garage trouvé.</td>
                        	</tr>
                    	{% endfor %}
                	</tbody>
            	</table>
        </ul>
    {% else %}
        <p class="card-text">Aucun garage trouvé.</p>
    {% endif %}
{% endblock %}