{% extends 'base.html.twig' %}

{% block title %}Modifier les horaires{% endblock %}

{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb my-5">
			<li class="breadcrumb-item">
				<a class="card-body" href="{{ path("app_support_dashboard_default") }}"><b>Bureau d'accueil</b></a>
			</li>
			<li class="breadcrumb-item">
				<a class="card-body" href="{{ path("app_support_garage_browse") }}"><b>Zone Garages</b></a>
			</li>
			<li class="breadcrumb-item">
				<a class="card-body" href="{{ path(("app_support_garage_read"), {"id":garage.id}) }}"><b>{{ garage.name|capitalize }}</b></a>
			</li>
			<li class="breadcrumb-item card-body-active active" aria-current="page">Modifier les horaires</li>
		</ol>
	</nav>
	<div style="display: flex; align-items: center; justify-content: space-between">
		<h1 class="title"><b>Modifier les horaires de </b><c>{{ garage.name|capitalize }}</c></h1>
		<div class="text-end" style="display: flex">
			<a role="button" class="btn btn-link align-self-end py-2 px-3" href="{{ path(("app_support_garage_read"), {"id":garage.id}) }}">Retour</a>
		</div>
	</div>
        {% if schedules is not empty %}
			<div>
            {% for schedule in schedules %}
                	{% include "support/schedule/_form.html.twig" %}
            {% endfor %}
			</div>
		{% else %}
            <tr>
                <td class="card-text">Aucun horaire enregistré</td>
            </tr>
        {% endif %}

{% endblock %}
